<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("539ee4bb-de7e-4658-94ea-87e1c8557777");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
